-- Fix missing company_id for user
UPDATE profiles 
SET company_id = '24bc0b21-4e2d-4413-9842-31719a3669f4'
WHERE user_id = '438fc155-72f9-4645-a2f4-389d64065efe' 
AND company_id IS NULL;

-- Verify the update
SELECT user_id, company_id, full_name, email 
FROM profiles 
WHERE user_id = '438fc155-72f9-4645-a2f4-389d64065efe';
